/* at-rule-prelude-no-invalid-invalid.css - @规则的 prelude 无效（错误） */

@media (width >>> 600px) {
  .element {
    color: #f00;
  }
}

@keyframes 123invalid {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
