/* declaration-block-no-duplicate-properties-invalid.css - 有重复的属性（错误） */

.element {
  color: #f00;
  background-color: #00f;
  color: #0f0;
}

.another-element {
  margin: 8px;
  padding: 8px;
  margin: 16px;
}
